<div class="container marketing">
  <div class="row featurette featurette-first">
    <div class="col-md-7">
      <h2 class="featurette-heading">Thingamabobber™</h2>
      <p class="lead">
        Inspired by western guides using small balloons as strike indicators to improve buoyancy and sensitivity, the Thingamabobber™ combines all of the best strike indicator elements in one simple design.
      </p>
      <ul class="lead">
        <li>Highly visible</li>
        <li>Ultra sensitive</li>
        <li>Casts like a champ in any weather condition</li>
        <li>Easy to attach and adjust yet stays in place on your line</li>
        <li>Never sinks and requires no floatant</li>
        <li>Comes in a variety of colors</li>
        <li>Durable and affordable</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="http://westwaterproducts.com/images/packaging.jpg" alt="Thingamabobber packaging">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-subheading">Choose from four different sizes...</h2>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top card-thumb mx-auto" src="http://westwaterproducts.com/images/halfinch.jpg" alt="1/2 in.">
          <div class="card-block">
            <h4 class="card-title text-center">1/2"</h4>
            <ul class="card-text">
              <li>150 piece jug of 1/2” - assorted colors<br><b>Item #1400</b></li>
              <li>Box of 20, 5 piece packs 1/2” - assort. colors<br><b>Item #1405-20</b></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top card-thumb mx-auto" src="http://westwaterproducts.com/images/threequarterinch.jpg" alt="3/4 in.">
          <div class="card-block">
            <h4 class="card-title text-center">3/4"</h4>
            <ul class="card-text">
              <li>125 piece jug of 3/4” - assorted colors<br><b>Item #1401</b></li>
              <li>Box of 20, 5 piece packs 3/4” - assort. color<br><b>Item #1403-20</b></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top card-thumb mx-auto" src="http://westwaterproducts.com/images/oneinch.jpg" alt="1 in.">
          <div class="card-block">
            <h4 class="card-title text-center">1"</h4>
            <ul class="card-text">
              <li>100 piece jug of 1” - assorted colors<br><b>Item #1402</b></li>
              <li>Box of 15, 4 piece packs 1” - assort. colors<br><b>Item #1404-15</b></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top card-thumb mx-auto" style="height: 200px; width: 200px" src="http://westwaterproducts.com/images/oneandonequarter.jpg" alt="1 1/4 in.">
          <div class="card-block">
            <h4 class="card-title text-center">1 ¼"</h4>
            <ul class="card-text">
              <li>50 piece jug of 1¼” - assorted colors<br><b>Item #1407</b></li>
              <li>Box of 10, 2 piece packs 1¼”- assort. colors<br><b>Item #1406-15</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">The new Jam-Stop™ <br>
        <span><h2 class="featurette-subheading">Now available!</h2></span>
      </h2>
      <p class="lead">Thingamabobber™ adds a sweet widget for non-slip performance in any condition and even more versatility.</p>
      <ul class="lead">
        <li>Use looped or as a straight line connection</li>
        <li>Remains in place on small diameter lines</li>
        <li>Easily attached and adjustable</li>
        <li>Simple to remove if desired</li>
      </ul>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto" src="http://westwaterproducts.com/images/jam_stop_howto.jpg" alt="Jam Stop">
    </div>
  </div>
</div>
