<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img class="navbar-logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#philosophy">Philosophy</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/thingamabobber">Thingamabobber™</a>
          <a class="dropdown-item" routerLink="/thingamabody">Thingamabody™</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#to-order">Where to order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<hr>

<footer class="text-center">
  <p>&copy;WestWater Products - 801-785-9426 - <a href="mailto:info@westwaterproducts.com">info@westwaterproducts.com</a></p>
</footer>
